/* Overriding Bootstrap styles */
.btn {
  width: 140px;
  height: 50px;
  padding: 0;
  color: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  border-radius: 0;
  background-repeat: repeat;
  background-image: none;
  background-position: 0% 0%;
}
.btn-default {
  color: #fff;
  background-color: #387b80;
  border: none;
}
.btn-default:hover {
  color: #fff;
  background-color: #292d33;
}
.form-control {
  height: 45px;
  margin: 0 0 20px;
  padding: 6px 0;
  background-color: transparent;
  border: 1px solid #387b80;
  border-width: 0 0 1px;
  border-radius: 0;
}
input {
  background-repeat: repeat;
  background-image: none;
  background-position: 0% 0%;
}
textarea {
  background-repeat: repeat;
  background-image: none;
  background-position: 0% 0%;
  padding: 10px;
}
::selection {
  background-color: #387b80;
  color: #fff;
}

.App {
  text-align: center;
}
.App-section {
  padding: 40px;
}
@media screen and (max-width: 767px) {
  .App-section {
    padding: 40px 20px;
  }
}
.App-nav {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  background-color: #222;
}
.App-nav__list {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 50px 0 0;
  padding: 0;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .App-nav__list {
    width: 100%;
    margin: 0;
  }
}
.App-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
}
.App-nav__link a {
  font-size: 20px;
  line-height: 20px;
  color: white;
  cursor: pointer;
}
.App-nav__link a:hover {
  color: white;
}
.App-nav__link--active {
  font-style: bold;
  text-decoration: underline;
}
.App-header {
  padding: 30px 30px 10px 30px;
  background-color: #222;
  color: white;
}
.App-description {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: large;
}
@media screen and (max-width: 991px) {
  .App-description {
    margin-top: 20px;
  }
}
.App-social-icon {
  margin: 0 10px;
}
.App-social-icon__image {
  height: 40px;
}
.App-social-icon__image--GitHub {
  filter: invert(1);
}
.App-social-icon__image--Stackshare {
}
.App-social-icon__image--Npm {
  margin-top: 3px;
}
.App-social-icon__image--StackOverflow {
  margin-bottom: 20px;
}

.App-company-logo {
  width: 100%;
  margin-bottom: 10px;
  max-width: 290px;
  margin: 0 auto;
}

.App-company-stack {
  text-align: center;
  font-style: italic;
}

.App-stack {
  margin: 10px;
}

.App-projects {
  margin: 20px 0 0 0;
}
.App-project {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}
.App-project__name {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-style: bold;
}
.App-project__preview {
}
.App-project__link {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}
.App-project .App-project__preview {
  transition: 1s;
}
.App-project:hover .App-project__preview {
  transform: rotate(-10deg) scale(1.5);
}
.App-project__box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(56, 123, 128, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}
.App-project:hover .App-project__box {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.App-contact__form {
  margin-top: 20px;
}
.App-contact__field {
  height: 45px;
  margin: 0 0 20px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #387b80;
  border-width: 0 0 1px;
  border-radius: 0;
}

#description {
}
#social-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 70px;
}
#curriculum-vitae-download {
  display: flex;
  justify-content: flex-start;
}
#curriculum {
  background-color: #9ED6E2;
}
#projects {
  background-color: #171717;
  color: white;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
#stack {
  background-color: #fff;
}
#contact {
  background-color: #171717;
  color: white;
}
#g-recaptcha {
  max-width: 302px;
  margin: 0 auto;
}
