<div class="container">
    <p>
        <a class="btn btn-social-icon btn-github" href="https://github.com/Ilshidur" target="_blank">
            <span class="fa fa-github"></span>
        </a>
        <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/nicolascoutin" target="_blank">
            <span class="fa fa-linkedin"></span>
        </a>
        <a class="btn btn-social-icon btn-github" href="https://www.npmjs.com/~ilshidur" target="_blank">
            <img src="https://raw.githubusercontent.com/npm/logos/master/n-64.png" />
        </a>
        | <a ui-sref="contact">Me contacter</a>
        | <a ui-sref="about">À propos</a>
    </p>
</div>
