<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Mes projets</h1>
    <p class="lead">En construction.</p>
  </div>
</header>

<div class="container">
  <p>Description incoming ... and stuff.</p>
  <ul class="projects-list">
    <li class="projects-list-element" ng-repeat="project in projects">
      <div class="project container" ng-if="project.show">
        <h2>{{project.name}}</h2>
        <div class="row">
          <div class="project-preview">
            <a href="{{project.link}}" target="_blank">
              <img class="project-preview-inner" src="{{project.previewLink}}" alt="[Preview : {{project.name}}]" />
            </a>
          </div>
          <div class="project-notes">
            <div class="project-description">
              <div marked="project.description">
              </div>
            </div>
            <div class="project-source">
              <p>
                Source : <span class="project-source-link" marked="project.source"></span>
              </p>
            </div>
            <ul class="project-tags">
              <li class="project-tag" ng-repeat="tag in project.tags">
                <span class="project-tag-inner">{{tag}}</span>
              </li>
            </ul>
          </div>
        </div>
        <hr/>
      </div>
    </li>
  </ul>
</div>

<footer></footer>
