.projects-list {
  list-style-type: none;
}

.projects-list-element {
  list-style-type: none;
}

.project-description {

}

.project-source {

}

.project-source-link {

}

.project-tags {
  list-style-type: none;
}

.project-tag {
  list-style-type: none;
  display: inline;
  font-size: 18px;
}
