.projects-list {
}

.projects-list-content {
  list-style-type: none;
}

.projects-list-element {
  list-style-type: none;
}

.project-favicon {
  height: 32px;
}

.project-title {
  display: inline-block;
}

.project-date {
  margin-left: 14px;
}

.project-preview {
  @extend .col-sm-6;
}

.project-notes {
  @extend .col-sm-6;
  margin-top: 20px;
}

.project-preview-inner {
  @extend .img-thumbnail;
}

.project-preview-inner-none {
  width: 100%;
  text-align: center;
  @extend .img-thumbnail;
}

.project-description {
}

.project-source {
}

.project-source {
  margin-left: 5px;
}

.project-source-link {
}

.project-tags {
  list-style-type: none;
}

.project-tag {
  list-style-type: none;
  display: inline;
  font-size: 18px;
  margin-left: 2px;
  margin-right: 2px;
}

.project-tag-inner {
  @extend .label;
  @extend .label-warning;
  color: rgb(93, 62, 9) !important;
}
