.App {
  text-align: center;
}
.App-section {
  padding: 40px;
}
.App-nav {
  height: 60px;
  background-color: #222;
}
.App-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 50px 0 0;
  padding: 0;
  list-style-type: none;
}
.App-nav__link {
  padding: 20px;
}
.App-nav__link a {
  font-size: 20px;
  line-height: 20px;
  color: white;
  cursor: pointer;
}
.App-nav__link a:hover {
  color: white;
}
.App-nav__link--active {
  font-style: bold;
  text-decoration: underline;
}
.App-header {
  padding: 30px;
  background-color: #222;
  color: white;
}
.App-description {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: large;
}
.App-social-icon {
  margin: 0 10px;
}
.App-social-icon__image {
  height: 40px;
}
.App-social-icon__image--GitHub {
  filter: invert(1);
}

.App-company-logo {
  width: 100%;
  margin-bottom: 10px;
}

.App-stack {
  margin: 10px;
}

.App-projects {
  display: flex;
}
.App-project {
  flex: 1;
}
.App-project__name {

}
.App-project__preview {

}

#description {
  display: flex;
  margin-bottom: 20px;
}
#curriculum {
  background-color: #9ED6E2;
}
#projects {
  background-color: #171717;
  color: white;
  padding-left: 0;
  padding-right: 0;
}
#stack {
  background-color: #fff;
}
#contact {
  height: 400px;
  background-color: #171717;
  color: white;
}
