<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1 class="cv-page-title">CV</h1>
    <div class="cv-download">
      <a target="_self" href="/assets/pdf/cv.pdf" download="CV_Nicolas_COUTIN.pdf"><img src="/assets/images/pdf.png" alt="Téléchargez mon CV" /></a>
    </div>
  </div>
</header>

<div class="container">
  <div class="cv-element">
    <p class="lead">Mes compétences professionnelles</p>
    <hr/>
    <div class="container">
      <div class="skills-list-container" ng-repeat="skill_list in skills">
        <p><b>{{skill_list.type}}</b></p>
        <div class="skills-list">
          <ul class="skills-list-ul">
            <li class="skill-container" ng-repeat="skill in skill_list.list" class="row">
              <div class="skill-title">
                <div class="skill-name" ng-repeat="text in skill.skills">
                  <img ng-if="text.img_url !== ''" class="skill-image" src="{{text.img_url}}" alt="{{text.name}}" title="{{text.name}}"/>
                  <span ng-if="text.img_url === ''" class="skill-text">{{text.name}}</span>
                </div>
              </div>
              <div class="">
                <uib-progressbar animate="false" value="skill.percentage" type="{{getType(skill.percentage)}}">
                  <span><b>{{skill.percentage}}%</b></span>
                </uib-progressbar>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="skills-list-container">
        <p>Autre :</p>
        <ul>
          <li><div class="skill-name" ng-repeat="skill in ['.NET', 'Java', 'C', 'C++']"><span class="skill-text">{{skill}}</span></div></li>
          <li><div class="skill-name" ng-repeat="skill in ['GIMP']"><span class="skill-text">{{skill}}</span></div></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cv-element">
    <p class="lead">Mon cursur professionnel</p>
    <hr/>
    <div class="container">
      <div class="employment" ng-repeat="employment in employments">
        <div class="">
          <h3 class="employment-title"><i class="fa fa-briefcase" aria-hidden="true"></i> {{employment.title}}</h3>
          <span class="employment-date">{{employment.date}}</span>
        </div>
        <span class="employment-place"><i>{{employment.place}}</i></span>
        <div class="employment-description" marked="employment.description">
        </div>
        <ul class="employment-tags">
          <li class="employment-tag" ng-repeat="tag in employment.tags"><span class="employment-tag-inner">{{tag}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer></footer>
