.cv-page-title {
  float: left;
}

.cv-download {
  float: right;
  img {
    height: 70px;
  }
}

.cv-element {
  margin-bottom: 20px;
}

.skills-list-container {
  @extend .col-sm-4;
  padding: 20px;
  min-height: 360px;
}

.skills-list {
  @extend .row;
  ul {
    list-style: none;
  }
  ul > li {
    list-style: none;
  }
  margin-left: 5px;
  margin-right: 5px;
}

.skills-list-ul {
  padding: 0;
}

.skill-container {
}

.skill-title {
  height: 50px;
  .skill-name {
    display: inline;
    height: 50px;
  }
}

.skill-name {
  display: inline-block;
  &:before {
    content: ", ";
  }
  &:first-child:before {
    content: "";
  }
}

.skill-image {
  height: 40px;
  max-width: 140px;
  margin: 2px 6px 5px 6px;
  @extend .img-thumbnail;
  background-color: #ffffcc;
}

.skill-text {
  display: inline;
  vertical-align: middle;
}

.employment {
  margin-top: 25px;
}

.employment-title {
  display: inline;
}

.employment-date {
  float: right;
}

.employment-place {
  display: block;
}

.employment-description {
  margin-top: 10px;
}

.employment-tags {
  list-style-type: none;
}

.employment-tag {
  list-style-type: none;
  display: inline;
  font-size: 18px;
  margin-left: 2px;
  margin-right: 2px;
}

.employment-tag-inner {
  @extend .label;
  @extend .label-warning;
  color: rgb(93, 62, 9) !important;
}
